In [4]:
import os
import re

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import cv2
import PIL.Image as Image

from skimage import io, color, transform
from skimage.feature import hog

import time

In [5]:
images = np.load('DatosDF\images.npy', allow_pickle=True)
labels = np.load('DatosDF\labels.npy', allow_pickle=True)
estados = np.load('DatosDF\estados.npy',allow_pickle=True)
hog = np.load('DatosDF\hog.npy',allow_pickle=True)
df = pd.DataFrame({'DatosDF\gray_matrix': images.tolist(), 'label': labels.tolist(),'estados': estados.tolist(),'hog': hog.tolist()})
df

,DatosDF\gray_matrix,label,estados,hog
0,"[[46, 34, 26, 23, 12, 32, 35, 26, 26, 38, 71, ...",angry,0,"[0.33274356, 0.1704117, 0.025357863, 0.0006549..."
1,"[[55, 33, 54, 32, 26, 21, 50, 29, 38, 45, 79, ...",angry,0,"[0.27381572, 0.22986299, 0.09233569, 0.0294371..."
2,"[[123, 123, 126, 131, 124, 69, 109, 149, 159, ...",angry,0,"[0.34384748, 0.01883176, 0.004236705, 0.010840..."
3,"[[255, 255, 255, 255, 255, 255, 255, 255, 255,...",angry,0,"[0.014489936, 0.008741817, 0.020611065, 0.0, 0..."
4,"[[127, 121, 124, 137, 123, 118, 120, 111, 111,...",angry,0,"[0.25325525, 0.0767658, 0.026558537, 0.0181144..."
...,...,...,...,...
35882,"[[27, 26, 26, 26, 27, 27, 28, 28, 33, 34, 35, ...",surprise,0,"[0.14022486, 0.07403437, 0.0686184, 0.0, 0.041..."
35883,"[[7, 6, 13, 39, 76, 58, 29, 21, 16, 20, 34, 56...",surprise,0,"[0.39263126, 0.11640715, 0.0072888294, 0.00144..."
35884,"[[124, 129, 125, 123, 129, 128, 127, 128, 131,...",surprise,1,"[0.20560372, 0.04748373, 0.03934206, 0.0998374..."
35885,"[[242, 242, 242, 216, 110, 42, 20, 41, 37, 14,...",surprise,0,"[0.3589315, 0.16316827, 0.042510495, 0.0318309..."
35886,"[[194, 197, 191, 174, 160, 147, 145, 158, 155,...",surprise,0,"[0.3321482, 0.3321482, 0.07540651, 0.02142311,..."

In [6]:
df[df['estados']==1]

,DatosDF\gray_matrix,label,estados,hog
16,"[[175, 166, 185, 198, 202, 213, 212, 209, 210,...",angry,1,"[0.20444939, 0.034390625, 0.026585897, 0.01487..."
23,"[[26, 29, 30, 35, 45, 60, 108, 145, 161, 161, ...",angry,1,"[0.46974203, 0.15378156, 0.0056655, 0.0, 0.002..."
30,"[[17, 18, 19, 19, 17, 15, 16, 17, 18, 20, 18, ...",angry,1,"[0.16117984, 0.10060929, 0.12280247, 0.0026138..."
31,"[[0, 0, 0, 0, 0, 0, 0, 0, 2, 3, 0, 1, 13, 37, ...",angry,1,"[0.17848918, 0.014774916, 0.0, 0.0, 0.0, 0.0, ..."
45,"[[254, 254, 254, 254, 254, 254, 254, 254, 254,...",angry,1,"[0.025827257, 0.01296422, 0.020755643, 0.0, 0...."
...,...,...,...,...
35863,"[[9, 38, 69, 99, 86, 102, 111, 105, 65, 58, 64...",surprise,1,"[0.23134665, 0.3235038, 0.13396424, 0.05265233..."
35869,"[[253, 253, 254, 253, 170, 101, 105, 102, 85, ...",surprise,1,"[0.4190711, 0.32569548, 0.0045682807, 0.002312..."
35875,"[[252, 247, 146, 93, 94, 89, 99, 94, 93, 83, 9...",surprise,1,"[0.32172725, 0.29283354, 0.09000543, 0.0720573..."
35878,"[[33, 44, 49, 40, 35, 28, 23, 14, 9, 16, 17, 5...",surprise,1,"[0.20763314, 0.31089163, 0.1581842, 0.02511550..."
35884,"[[124, 129, 125, 123, 129, 128, 127, 128, 131,...",surprise,1,"[0.20560372, 0.04748373, 0.03934206, 0.0998374..."

In [7]:
under = df[df['estados']==1]

In [8]:
under

,DatosDF\gray_matrix,label,estados,hog
16,"[[175, 166, 185, 198, 202, 213, 212, 209, 210,...",angry,1,"[0.20444939, 0.034390625, 0.026585897, 0.01487..."
23,"[[26, 29, 30, 35, 45, 60, 108, 145, 161, 161, ...",angry,1,"[0.46974203, 0.15378156, 0.0056655, 0.0, 0.002..."
30,"[[17, 18, 19, 19, 17, 15, 16, 17, 18, 20, 18, ...",angry,1,"[0.16117984, 0.10060929, 0.12280247, 0.0026138..."
31,"[[0, 0, 0, 0, 0, 0, 0, 0, 2, 3, 0, 1, 13, 37, ...",angry,1,"[0.17848918, 0.014774916, 0.0, 0.0, 0.0, 0.0, ..."
45,"[[254, 254, 254, 254, 254, 254, 254, 254, 254,...",angry,1,"[0.025827257, 0.01296422, 0.020755643, 0.0, 0...."
...,...,...,...,...
35863,"[[9, 38, 69, 99, 86, 102, 111, 105, 65, 58, 64...",surprise,1,"[0.23134665, 0.3235038, 0.13396424, 0.05265233..."
35869,"[[253, 253, 254, 253, 170, 101, 105, 102, 85, ...",surprise,1,"[0.4190711, 0.32569548, 0.0045682807, 0.002312..."
35875,"[[252, 247, 146, 93, 94, 89, 99, 94, 93, 83, 9...",surprise,1,"[0.32172725, 0.29283354, 0.09000543, 0.0720573..."
35878,"[[33, 44, 49, 40, 35, 28, 23, 14, 9, 16, 17, 5...",surprise,1,"[0.20763314, 0.31089163, 0.1581842, 0.02511550..."
35884,"[[124, 129, 125, 123, 129, 128, 127, 128, 131,...",surprise,1,"[0.20560372, 0.04748373, 0.03934206, 0.0998374..."

In [9]:
X = under['hog']
y = under['label']

In [10]:
grande = df['hog']

In [11]:
X_ex = pd.DataFrame(sexo.to_list(), columns=['col_{}'.format(i) for i in range(len(X.iloc[0]))])

# Concatenar el DataFrame original con el DataFrame expandido
X_ex

NameError: name 'sexo' is not defined

In [ ]:
grande_ex = pd.DataFrame(grande.to_list(), columns=['col_{}'.format(i) for i in range(len(grande.iloc[0]))])

# Concatenar el DataFrame original con el DataFrame expandido
grande_ex

In [ ]:
y_2 = df['label']
y_2

In [ ]:
from sklearn.manifold import TSNE

In [ ]:
labels

In [ ]:
tsn = TSNE(n_components=2,perplexity=50,n_iter=1000)
X_r3 = tsn.fit_transform(grande_ex)
labels=y.unique().tolist()
colors = ['navy', 'turquoise', 'darkorange','red','blue','green','yellow']

plt.figure(figsize=(20,20))
for c, i, target_name in zip(['red','green','blue','yellow','orange','navy','turquoise'], labels, labels):
      plt.scatter(X_r3[y_2 == i, 0], X_r3[y_2 == i, 1], c=c, label=target_name)
plt.legend()
plt.title('TSNE del dataset Clientes')
plt.show()

In [ ]:
import plotly.express as px
from sklearn.manifold import TSNE

# Suponiendo que X_ex y y son tus datos
tsn = TSNE(n_components=3, perplexity=25, n_iter=5000)
X_r3 = tsn.fit_transform(X_ex)

# Añade las nuevas dimensiones a tus datos
df = pd.DataFrame({'Dim1': X_r3[:, 0], 'Dim2': X_r3[:, 1], 'Dim3': X_r3[:, 2], 'Label': y})

In [ ]:
# Plotea con plotly express
fig = px.scatter_3d(df, x='Dim1', y='Dim2', z='Dim3', color='Label', title='t-SNE del dataset Clientes en 3D',width=1000,height=1000)
fig.show()

In [ ]:
from sklearn.decomposition import PCA

In [ ]:
# aplica transformacion PCA
pca = PCA(n_components=3) # define el transformador PCA con n_componentes

fit_pca = pca.fit(X_ex)   # ajusta el transformador PCA con los datos estandarizados o Data sin oultilers
X_pca = fit_pca.transform(X_ex) # obtiene los datos pca transformados (el resultado es un array numpy)

print("Componentes principales:")
print(fit_pca.components_) #Componentes principales

In [ ]:
# por conveniencia castea la data en un DataFrame
X_transformed_pca = pd.DataFrame(X_pca)
X_transformed_pca = X_transformed_pca[[0, 1, 2]]
X_transformed_pca.columns = ['PC0', 'PC1', 'PC2']  #X_transformed_pca.rename(columns={0:'PC0',1:'PC1',2:'PC2'})
df_new = pd.merge(X_transformed_pca, y,left_index=True, right_index=True)
df_new

In [ ]:
import plotly.express as px
import plotly.express.colors
# Visualizamos en 3D

figure = px.scatter_3d(df_new, x='PC0', y='PC1', z='PC2',
                       color='label',  size_max=5,opacity=0.7,
                       #symbol = 'diagnostico',
                       #size = 'diagnostico',
                       width=500, height=500)
# Ajusta los márgenes si es necesario
figure.update_layout(margin=dict(l=0, r=0, b=0, t=0))

figure.show()