In [1]:
import os
import re

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

import cv2
import PIL.Image as Image

from skimage import io, color, transform
from skimage.feature import hog

import time

## Carga de la base (unpickle the pickle)

In [2]:
imagen='..\DatosDF\images.npy'
etiquetas='..\DatosDF\labels.npy'
pca='../DatosDF/pca.npy'
images = np.load(imagen, allow_pickle=True)
labels = np.load(etiquetas, allow_pickle=True)
pca= np.load(pca, allow_pickle=True)
df = pd.DataFrame({'gray_matrix': images.tolist(), 'label': labels.tolist(),'pca':pca.tolist()})
df

<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:2: SyntaxWarning: invalid escape sequence '\D'
<>:1: SyntaxWarning: invalid escape sequence '\D'
<>:2: SyntaxWarning: invalid escape sequence '\D'
C:\Users\gonza\AppData\Local\Temp\ipykernel_25576\1967733258.py:1: SyntaxWarning: invalid escape sequence '\D'
  imagen='..\DatosDF\images.npy'
C:\Users\gonza\AppData\Local\Temp\ipykernel_25576\1967733258.py:2: SyntaxWarning: invalid escape sequence '\D'
  etiquetas='..\DatosDF\labels.npy'

,gray_matrix,label,pca
0,"[[46, 34, 26, 23, 12, 32, 35, 26, 26, 38, 71, ...",angry,"[0.1702883172748495, 0.05317091772893637, 0.46..."
1,"[[55, 33, 54, 32, 26, 21, 50, 29, 38, 45, 79, ...",angry,"[1.8377573578512425, 0.30314031322916024, -0.6..."
2,"[[123, 123, 126, 131, 124, 69, 109, 149, 159, ...",angry,"[1.3515531899239948, -0.6178842005412236, -0.2..."
3,"[[255, 255, 255, 255, 255, 255, 255, 255, 255,...",angry,"[1.432024963731606, 0.03464338512799553, 0.651..."
4,"[[127, 121, 124, 137, 123, 118, 120, 111, 111,...",angry,"[1.6783762986615753, 0.0871180425720805, -0.15..."
...,...,...,...
35882,"[[27, 26, 26, 26, 27, 27, 28, 28, 33, 34, 35, ...",surprise,"[-0.7043789141631789, 0.6602475045370737, -0.8..."
35883,"[[7, 6, 13, 39, 76, 58, 29, 21, 16, 20, 34, 56...",surprise,"[-0.3164632484509816, -0.4490357490320128, -0...."
35884,"[[124, 129, 125, 123, 129, 128, 127, 128, 131,...",surprise,"[-0.49553358221191973, -1.4751590464931255, 0...."
35885,"[[242, 242, 242, 216, 110, 42, 20, 41, 37, 14,...",surprise,"[-0.4593819378971397, -2.1705497943301655, -0...."
35886,"[[194, 197, 191, 174, 160, 147, 145, 158, 155,...",surprise,"[0.5724461350216019, 0.843016162210145, 0.9161..."

### Añadimos las caracteristicas - HOG

In [5]:
def calculate_hog(image):
    # Reshape de la imagen al tamaño requerido por HOG
    image_resized = cv2.resize(image, (64, 128))

    # Crear un objeto HOG
    hog = cv2.HOGDescriptor()

    # Calcular el HOG en la imagen redimensionada
    hog_features = hog.compute(image_resized)
    return hog_features

In [6]:
%%time

df['hog'] = df['gray_matrix'].apply(calculate_hog)
df

CPU times: total: 4.89 s
Wall time: 5.05 s

,gray_matrix,label,hog
0,"[[46, 34, 26, 23, 12, 32, 35, 26, 26, 38, 71, ...",angry,"[0.33274356, 0.1704117, 0.025357863, 0.0006549..."
1,"[[55, 33, 54, 32, 26, 21, 50, 29, 38, 45, 79, ...",angry,"[0.27381572, 0.22986299, 0.09233569, 0.0294371..."
2,"[[123, 123, 126, 131, 124, 69, 109, 149, 159, ...",angry,"[0.34384748, 0.01883176, 0.004236705, 0.010840..."
3,"[[255, 255, 255, 255, 255, 255, 255, 255, 255,...",angry,"[0.014489936, 0.008741817, 0.020611065, 0.0, 0..."
4,"[[127, 121, 124, 137, 123, 118, 120, 111, 111,...",angry,"[0.25325525, 0.0767658, 0.026558537, 0.0181144..."
...,...,...,...
35882,"[[27, 26, 26, 26, 27, 27, 28, 28, 33, 34, 35, ...",surprise,"[0.14022486, 0.07403437, 0.0686184, 0.0, 0.041..."
35883,"[[7, 6, 13, 39, 76, 58, 29, 21, 16, 20, 34, 56...",surprise,"[0.39263126, 0.11640715, 0.0072888294, 0.00144..."
35884,"[[124, 129, 125, 123, 129, 128, 127, 128, 131,...",surprise,"[0.20560372, 0.04748373, 0.03934206, 0.0998374..."
35885,"[[242, 242, 242, 216, 110, 42, 20, 41, 37, 14,...",surprise,"[0.3589315, 0.16316827, 0.042510495, 0.0318309..."
35886,"[[194, 197, 191, 174, 160, 147, 145, 158, 155,...",surprise,"[0.3321482, 0.3321482, 0.07540651, 0.02142311,..."

# Undersampleo

In [3]:
from sklearn.neighbors import NearestNeighbors
def knn_und(X,y,majority_class, k, t, algorithm="auto", metric="euclidean"):
    #TODO IMPLEMENT SUPPORT FOR SPARSE MATRICES
    if not isinstance(X, (np.ndarray, np.generic) ):
        X = np.asarray(X)

    if not isinstance(y, (np.ndarray, np.generic) ):
        y = np.asarray(y)



    nrows = X.shape[0]
    ncols=1

    result= [True] * nrows

    nbrs = NearestNeighbors(n_neighbors=k,algorithm="auto", metric=metric).fit(X)
    nns_indexes = nbrs.kneighbors(X,return_distance=False)

    for i in range(nrows):
        example = X[i,1:ncols]
        current_label = y[i]

        if (current_label != majority_class):
            result[i]=True
            continue

        nns_labels=y[nns_indexes[i]]

        num_of_minority = 0

        for nn_label in nns_labels:
            if nn_label==i:
                continue

            if nn_label!=majority_class:
                num_of_minority = num_of_minority+1


        if num_of_minority>t:
            result[i]=False
        else:
            result[i]=True

    return(result)

In [4]:
print('Conteo inicial')
df.groupby('label').count()

Conteo inicial

          gray_matrix   pca
label
angry            4953  4953
disgust           547   547
fear             5121  5121
happy            8989  8989
neutral          6198  6198
sad              6077  6077
surprise         4002  4002

In [5]:
X = np.array(df['pca'].values.tolist())
y = df['label']

### Empieza la agrupacion. Pre-procesamiento.

No creo que el tiempo sea relevante. De todos modos, tengo otras operaciones en la misma computadora, lo que puede afectar a los tiempos de ejecucion (al momento de realizar este cuaderno y commitearlo el 30/10)

In [6]:
%%time
surprise=knn_und(X,y,'surprise', k=15, t=3, algorithm="auto", metric="euclidean")
surprise.count(False)

CPU times: total: 43.5 s
Wall time: 11.2 s

3416

In [7]:
%%time
angry=knn_und(X,y,'angry', k=15, t=7, algorithm="auto", metric="euclidean")
angry.count(False)

CPU times: total: 42.9 s
Wall time: 11 s

4356

In [36]:
%%time
fear=knn_und(X,y,'fear', k=16, t=8, algorithm="auto", metric="euclidean")
fear.count(False)

CPU times: total: 42.3 s
Wall time: 11.3 s

4586

In [9]:
%%time
sad=knn_und(X,y,'sad', k=19, t=10, algorithm="auto", metric="euclidean")
sad.count(False)

CPU times: total: 43.5 s
Wall time: 11.5 s

5458

In [28]:
%%time
neutral=knn_und(X,y,'neutral', k=17, t=5, algorithm="auto", metric="euclidean")
neutral.count(False)

CPU times: total: 42.5 s
Wall time: 11.8 s

5646

In [29]:
%%time
happy=knn_und(X,y,'happy', k=27, t=3, algorithm="auto", metric="euclidean")
happy.count(False)

CPU times: total: 45.9 s
Wall time: 11.4 s

8314

In [37]:
estados = [a*b*c*d*e*f for a,b,c,d,e,f in zip(happy,neutral,sad,fear,angry,surprise)]
df['estados']=estados
train=df[df['estados']!=0]
test=df[df['estados']!=1]

Nueva normalidad

In [38]:
train.groupby('label').count()

          gray_matrix  pca  estados
label
angry             597  597      597
disgust           547  547      547
fear              535  535      535
happy             675  675      675
neutral           552  552      552
sad               619  619      619
surprise          586  586      586

In [15]:
df = df[['gray_matrix','pca' ,'estados', 'label']]
df

,gray_matrix,pca,estados,label
0,"[[46, 34, 26, 23, 12, 32, 35, 26, 26, 38, 71, ...","[0.1702883172748495, 0.05317091772893637, 0.46...",0,angry
1,"[[55, 33, 54, 32, 26, 21, 50, 29, 38, 45, 79, ...","[1.8377573578512425, 0.30314031322916024, -0.6...",0,angry
2,"[[123, 123, 126, 131, 124, 69, 109, 149, 159, ...","[1.3515531899239948, -0.6178842005412236, -0.2...",0,angry
3,"[[255, 255, 255, 255, 255, 255, 255, 255, 255,...","[1.432024963731606, 0.03464338512799553, 0.651...",0,angry
4,"[[127, 121, 124, 137, 123, 118, 120, 111, 111,...","[1.6783762986615753, 0.0871180425720805, -0.15...",0,angry
...,...,...,...,...
35882,"[[27, 26, 26, 26, 27, 27, 28, 28, 33, 34, 35, ...","[-0.7043789141631789, 0.6602475045370737, -0.8...",0,surprise
35883,"[[7, 6, 13, 39, 76, 58, 29, 21, 16, 20, 34, 56...","[-0.3164632484509816, -0.4490357490320128, -0....",0,surprise
35884,"[[124, 129, 125, 123, 129, 128, 127, 128, 131,...","[-0.49553358221191973, -1.4751590464931255, 0....",1,surprise
35885,"[[242, 242, 242, 216, 110, 42, 20, 41, 37, 14,...","[-0.4593819378971397, -2.1705497943301655, -0....",0,surprise
35886,"[[194, 197, 191, 174, 160, 147, 145, 158, 155,...","[0.5724461350216019, 0.843016162210145, 0.9161...",0,surprise

Y lo empepino

In [29]:
gray_matrix = np.array(df['gray_matrix'].values)
hog = np.array(df['hog'].values)
estados = np.array(df['estados'].values)
label = np.array(df['label'].values)

np.save('..\DatosDF\gray_matrix.npy', gray_matrix)
np.save('..\DatosDF\pca.npy', pca)
np.save('..\DatosDF\estados.npy', estados)
np.save('..\DatosDF\labels.npy', label)